.main-div-wrapper{
    background-color: #00f;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    }
  #child-div-1{
    background-color: #0f0;
    width:100px;
    height:100px;

  }
  #child-div-2{
    background-color:#f00;
    width:100px;
    height:100px;
  }

