body {
    height: 100vh;
    background-color: rgb(91, 84, 149);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_page_container {
    background-color: rgb(12, 1, 114);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_container {
    background-color: rgb(143, 0, 165);
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(22, 246, 22);
}

.user_name_input_group .username_label,
.password_input_group .password_label {
    color: rgb(192, 251, 92);
    font-size: 1.8rem;
}

.login_submit_button {
    font-size: 50px;
    background-color: brown;
    cursor: pointer;
}

.login_submit_button:hover {
    background-color: mediumspringgreen;
}
