/* Font-weight */
/* h1{
    font-weight:1000;
} */
 /* h1{
    font-style: oblique;
    font-style: italic;
 } */
  /* h1{
    font-variant:small-caps;
  } */
   /* p{
    line-height: 50px;
   } */
    /* p{
        letter-spacing: 3px;
    }
    p{
        word-spacing: 10px;
    } */
    /* p{
        font-stretch:wider;

    } */
     