/* 
Here we seen second color apply zala karan to shevat lihala ahe 

h2{
    background-color: antiquewhite;
}
h2{
    background-color: aqua;
} */
/*In Specidicity Highest prirority is #ID 
#ram{
    background-color: aqua;
 } */

 /* In Specidicity Second Highest prirority is atrubute selector 

 h2[draggable="true"]{
    background-color: antiquewhite;
}
 */

.first{
    background-color: aquamarine;
}

h1,h2,p{
    background-color: aqua;
}
/* 
After that child and desent 
tyanantar group selector
*/


